#back{
    margin-left: 2px;
    font-size:50px;
    display: inline-block;
    margin-top:40px;
}

#forward{
    margin-right: 2px;
    font-size:50px;
    display: inline-block;
    margin-top:40px;
}

#slider{
    display: inline-block;
    margin: 20px;
}

#One, #Two, #Three{
    display: inline-block;
}

